@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* media query */
@media only screen and (max-width:474px){
  .logo{
    width: 200px;
  }
  .divflyer{
    font-size: 11px;
  }
  .divflyer h1{
    font-size: 18px;
  }
  .img1{
    max-width: 300px;
    height: auto;
  }
  .foot img{
    width: 90px;
    height: auto;
  }
  .footer p{
    font-size: 11px;
  }
  .social{
    gap: 10px;
    margin-bottom: -20px;
  }
  .btn1{
    padding: 10px 80px;
    border-radius: 5px;
    font-weight: bolder;
  }
}
